

:root {
    --forest: #1E2B24;
    --fern: #445C49;
    --burntOrange: #9B483B;
    --salmon: #C77362;
    --tan: #EDDECF;
    --tanDarker: #d4b99b;
}

* {
    box-sizing: border-box; 
    text-decoration: none;
    list-style: none;
    max-width: 100%;
    padding: 0;
    margin: 0;
    color: var(--forest);
}

html {
    background: #d1bca5;
    background: radial-gradient(circle, rgba(209, 188, 165, 1) 0%, rgba(237, 222, 207, 1) 100%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100dvh;

    /* border: solid red 2px; */
}

h1 {
    font-size: 45px;
    color: var(--burntOrange);
    text-align: center;
}

h2 {
    font-size: 35px;
    
}

h3 {
    font-size: 30px;
    color: var(--burntOrange);
}

h4 {
    font-weight: bold;
}

.flex--row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.flex--column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;


}

.flex--columnAlt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

header {
    margin: 50px 0 50px 0;
    padding: 5px;

    /* border: solid green 2px; */
}

.header__group {
    width: 100%;

    gap: 0px;
    justify-content: space-between;
    padding: 0 25px 0 25px;

    /* border: solid hotpink 2px; */
}

nav {
    font-size: 30px;

}

.header__contact {
    font-size: 18px;

}

.group__l img {
    width: 300px;
    height: 300px;
    background-color: var(--salmon);
}

main p {
    font-size: 20px;
}

.home__group {
    /* width: 80%; */
    padding: 15px;
    justify-content: center;

    background-color: var(--tan);

    /* border: solid red 1px; */
}

.group__r {
    width: 30%;
}

footer {
    margin: 25px;
    margin-top: auto;


    /* border: red solid 2px; */

    /* justify-content: start; */
}

.footer__group {
    width: 100%;
    padding: 15px;

    /* border: red solid 2px; */

}

.footer__group--insert {
    justify-content: center;
}

.resume--item {
    font-size: 25px;
    padding: 20px;
    width: 90%;
    text-align: center;

    background-color: var(--forest);
    color: var(--tan);
}

.resume--item:nth-child(even) {
    background-color: var(--fern);
}

.work {
    width: 100%;

    /* border: solid 5px blue; */
}

.work--group {
    width: 80%;
    padding: 15px;
    text-align: center;

    border: solid 3px var(--burntOrange);


}



.project--simple {
    padding: 2px;
}

.project--card {
    border: solid 2px var(--tanDarker);
    background-color: var(--tan);
    padding: 15px;

}

.project--card__title {
    padding: 15px;
    background-color: var(--salmon);
    color: var(--tan);
    font-size: 20px;

}

.project--card__title a {
    text-decoration: underline;
    color: var(--tan);
}

.featured {
    padding: 15px;

}

.work--group h2 {
    color: var(--burntOrange);
}

.project--card__featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80%; */

    gap: 5px;
    border: solid 2px var(--tanDarker);
    background-color: var(--tan);
    padding: 15px;


}


.featured {
    width: 1000px;
}

.button {
    background-color: var(--fern);
    border: solid 2px var(--fern);
    width: 100%;

    padding-top: 5px;
    padding-bottom: 5px;

}

.button a {
    color: var(--tan);
}

/* @ MOBILE */

@media(max-width: 768px) {



    .flex--row {
        flex-direction: column;
    }

    .group__r {
        width: 100%;
    }

    h2 {
        text-align: center;
    }

}

